

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="container">
    <h1> Invalid User Name or Password </h1>


    <h6 class="btn login-button-2 text-uppercase text-wh"> @Html.ActionLink("Back to Main", "Index", "Home") </h6>

</div>